
<div id="map">
</div>


<script>
    let map;

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 13.7563, lng: 100.5018 },
            zoom: 12,
        });
       


        const Barbershopimage = {
                url: "barber-shop.png", // url
                scaledSize: new google.maps.Size(40, 40), // scaled size
                origin: new google.maps.Point(0,0), // origin
                anchor: new google.maps.Point(0, 0) // anchor
            }

        var markerBarbershop = new google.maps.Marker({
            position: { lat: 13.760468, lng: 100.497112 },
            map: map,
            icon: Barbershopimage,
        })


        var contentString =
                            '<div id="content">' +
                            '<div id="siteNotice">' +
                            "</div>" +
                            '<p id="firstHeading" class="firstHeading">Barbershop</p>' +
                            "</div>";

        var infowindow = new google.maps.InfoWindow({
            content: contentString,
        });

        markerBarbershop.addListener("click", () => {
            infowindow.open({
            anchor: markerBarbershop,
            map,
            });
        });
    }

window.initMap = initMap;


</script>